<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
<!-- /*@thymesVar id="owner" type="com.springframework.cfgpetclinic.model.Owner"*/ -->
<h1 th:text="'Owners index page'">owners index page</h1>

<table id="owners" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}">1</td>
        <!-- owner?.id тут "?" означает null-safe. Что с ним, что без него null отображается как пустая строка -->
        <td th:text="${owner.firstName}">Joe</td>
        <td th:text="${owner.lastName}">Doe</td>
    </tr>
    </tbody>
</table>
</body>
</html>
